// Variáveis de fonte:
$font-retro: "Press Start 2P", system-ui;
$font-ranking: "Yesteryear", cursive;

// Variáveis de cor:
$purple: #0C0421;
$whiteness: #CAD4FA;



// Variáveis de cor/linear
$background: rgb(153, 98, 138);
$gradient: linear-gradient(325deg, #03001e 0%,#7303c0 30%, #ec38bc 70%,#fdeff9 100% );