@use "../utilities/variables";

.container{
    background: variables.$gradient;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 4rem 0 0 0;
}